:root {
  --ff-sans: "Josefin Sans", system-ui, sans-serif;
  --base-font: 1.6rem;
  --fw-normal: 400;
  --fw-bold: 700;
  /* --img-bg: url("../assets/images/bg-desktop-dark.jpg"); */
  --color-primary: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-page-bg: hsl(235, 21%, 11%);
  --color-card-bg: hsl(235, 24%, 19%);
  --color-blue: hsl(220, 98%, 61%);
  --color-green: hsl(192, 100%, 67%);
  --color-pink: hsl(280, 87%, 65%);
  --color-gb-1: hsl(236, 33%, 92%);
  --color-gb-2: hsl(234, 39%, 75%);
  --color-gb-3: hsl(234, 11%, 52%);
  --color-gb-4: hsl(237, 12%, 36%);
  --color-gb-5: hsl(233, 14%, 35%);
  --color-gb-6: hsl(235, 19%, 24%);
  --color-box-shadow: hsl(0, 0%, 0%, 0.1);
}
/* Get rid of default css - Using css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
  position: relative;
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

body {
  font: var(--fw-normal) var(--base-font) var(--ff-sans);
  color: var(--color-white);
  background-color: var(--color-page-bg);
  padding-top: 8rem;
  width: min(85%, 54rem);
  margin: auto;
}

input:focus,
button:focus {
  outline: 0;
}

button {
  display: flex;
  user-select: none;
}

input,
button {
  font: inherit; /* by default input elements won't inherit font 
                    from its parent */
  color: inherit;
  border: 0;
  background: transparent;
}

.card {
  background-color: var(--color-card-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1.9rem 2rem; */
  gap: 2rem;
}

.new-task {
  margin: 4rem 0 2.5rem 0;
  border-radius: 0.5rem;
}

#button-add-todo {
  color: var(--color-gb-2);
  font-size: var(--base-font);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* define some states */
#button-add-todo:hover {
  background: var(--color-blue);
}

#button-add-todo:active {
  transform: scale(0.95);
}

#button-add-todo:hover {
  color: var(--color-white);
}

.input-container {
  flex: 1;
}

.new-task {
  width: 100%;
  padding: 0.7rem 0;
  color: var(--color-gb-1);
}

.new-task::placeholder {
  color: var(--color-gb-5);
  font-weight: var(--fw-normal);
}

input[type="checkbox"] {
  transform: scale(1.8);
  margin: 1rem;
}

.completed {
  text-decoration-line: line-through;
  /* transition: text-decoration-line 100ms ease-in-out 0s; */
}
